body {
  background-image: url("blueabstract.jpg");
}

.parentDiv {
display: flex;
justify-content: center;
align-items: center;}

h1
{
text-align:center;
color:black;
font-WELCOME TO MY PAGE:"Lucida Handwriting"
}

video {
  width: 20%;
  height: auto;
}

<video width= "200" controls>
 <source src="aboutika.mp4"
type="video/mp4">
 <source src="aboutika"type="video/ogg">
</video>

